 - add a new item to my collection.
 - view all items in my collection.
 - view a specific item in my collection.
 - update an item in my collection.
 - delete an item from my collection.
 - search for an item in my collection by name.
 - categorize items in my collection.
 - filter items in my collection by category.

 API:
 Items:
 - search for items by name √
 - create a new item √
 - gel all items √
 - get a specific item √
 - delete an item √

 Categories:
 - post category √
 - get categories √

 Collection:
 - create new collection √
 - add item to collection √
 - get items in collection √
 - delete item from collection √